<html>
  <head>
    <style>
      body {
        font-size: 12px;
        font-weight: bold;
      }
      .container {
        margin: 50px 50px;
      }
      .tb {
        font-size: 12px;
        font-weight: bold;
      }
      .title {
        margin-top: 4px;
        margin-bottom: 3px;
        text-align: center;
      }
      p {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 33.33%;
      }

      .col-2 {
        float: left;
        width: 50%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <table class="tb">
        <tr>
          <td width="430px">FORMULIR PELAYANAN WAJIB PAJAK PBB</td>
          <td width="20px">1.</td>
          <td width="200px">NOMOR PELAYANAN</td>
          <td width="20px">:</td>
          <td>{{.NoPelayanan}}</td>
        </tr>
        <tr>
          <td>
            --------------------------------------------------------------------------------
          </td>
          <td>2.</td>
          <td>TANGGAL PELAYANAN</td>
          <td>:</td>
          <td>25-08-2021</td>
        </tr>
        <tr>
          <td></td>
          <td>3.</td>
          <td>TGL. SELESAI (Perkiraan)</td>
          <td>:</td>
          <td>25-11-2021</td>
        </tr>
      </table>
      <p>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
      <table class="tb">
        <tr>
          <td width="20px">4.</td>
          <td width="200px">JENIS PELAYANAN</td>
          <td width="20px">:</td>
          <td>MUTASI OBJEK/SUBJEK</td>
        </tr>
      </table>
      <p>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
      <table class="tb">
        <tr>
          <td width="20px">5.</td>
          <td width="200px">NOP</td>
          <td width="20px">:</td>
          <td>35.73.050.011.001.0009-0</td>
        </tr>
      </table>
      <p>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
      <div class="title">A. DATA WAJIB/OBJEK PAJAK DAN KETERANGAN</div>
      <p>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
      <table class="tb">
        <tr>
          <td width="20px">6.</td>
          <td width="200px">NAMA PEMOHON</td>
          <td width="20px">:</td>
          <td>PT. ALAM MAHAMERU</td>
        </tr>
        <tr>
          <td></td>
          <td>ALAMAT PEMOHON</td>
          <td>:</td>
          <td>JL JA YANI</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>LETAK OBJEK PAJAK</td>
          <td>:</td>
          <td>JL. PADJAK</td>
        </tr>
        <tr>
          <td></td>
          <td>KELURAHAN</td>
          <td>:</td>
          <td>KADKLSAJLK</td>
        </tr>
        <tr>
          <td></td>
          <td>KECAMATAN</td>
          <td>:</td>
          <td>SUKUN</td>
        </tr>
        <tr>
          <td>8.</td>
          <td>KETERANGAN</td>
          <td>:</td>
          <td>fdjkshflkasjdkah askdjakjshdi</td>
        </tr>
      </table>
      <p>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
      <div class="title">B. PENERIMAAN BERKAS</div>
      <p>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
      <table class="tb">
        <tr>
          <td width="20px">9.</td>
          <td width="200px">DOKUMEN DILAMPIRKAN</td>
          <td width="20px">:</td>
        </tr>
      </table>
      <div class="row" style="padding-left: 22px">
        <div class="column">
          <table class="tb" style="font-size: 13px">
            <tr>
              <td>[X]</td>
              <td>1.</td>
              <td width="200px">Pengajuan Permohonan</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>2.</td>
              <td>Surat Kuasa</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>3.</td>
              <td>Copy KTP/KK</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>4.</td>
              <td>Copy Sertifikat Tanah</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>5.</td>
              <td>Asli SPPT</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>6.</td>
              <td>Copy IMB</td>
            </tr>
          </table>
        </div>
        <div class="column">
          <table class="tb" style="font-size: 13px">
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>7.</td>
              <td>Copy Ak.Jual Beli/Hibah</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>3.</td>
              <td>Copy SK Pensiun</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>9.</td>
              <td>Copy SPPT</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>10.</td>
              <td>Copy STTS</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>11.</td>
              <td>Copy SK Pengurangan</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>12.</td>
              <td>Copy SK Keberatan</td>
            </tr>
          </table>
        </div>
        <div class="column">
          <table class="tb" style="font-size: 13px">
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>13.</td>
              <td>Ket Kelurahan</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>14.</td>
              <td>Copy Slip Gaji</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>15.</td>
              <td>Copy Slip PLN/air</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>16.</td>
              <td>Lapkeu WP Badan</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>17.</td>
              <td>SK Likuiditas</td>
            </tr>
            <tr>
              <td>[&nbsp;&nbsp;&nbsp;]</td>
              <td>18.</td>
              <td>Lain-lain</td>
            </tr>
          </table>
        </div>
      </div>
      <table class="tb" style="margin-top: 10px">
        <tr>
          <td width="20px">10.</td>
          <td width="200px">CATATAN</td>
          <td width="20px">:</td>
        </tr>
      </table>
      <div style="margin-top: 10px; margin-left: 25px">
        <p>MUT U 2022 AN.AHMAD KHUDLORI S</p>
        <p>LT. 105/46</p>
      </div>
      <div class="row" style="margin-top: 30px">
        <table class="tb" style="font-size: 13px">
          <tr>
            <td width="20px">11.</td>
            <td width="200px">PETUGAS PENERIMA BERKAS</td>
            <td width="20px">:</td>
            <td width="360px">SUPRIYATIN PS</td>
            <td>NIP. 21382381789378</td>
          </tr>
        </table>
      </div>
      <div class="row" style="margin-top: 30px">
        <p>
          ------------ Gunting Disini
          -----------------------------------------------------------------------------------------------------------------------------------------------------------
        </p>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col-2">
          <table class="tb" style="font-size: 13px">
            <tr>
              <td width="20px">12.</td>
              <td width="100px">NOP</td>
              <td width="20px">:</td>
              <td>35.73.050.011.001.0009-0</td>
            </tr>
            <tr>
              <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="4">
                DINAS BADAN PENDAPATAN DAERAH PERKANTORAN TERPADU JL MAYJEND
                SUNGKONO, MALANG
              </td>
            </tr>
          </table>
          <div style="margin-left: 40px; margin-top: 50px">
            <p>------------------------------------</p>
            <p>TANDA PENDAFTARAN</p>
            <p>PELAYANAN PBB</p>
            <p>------------------------------------</p>
          </div>
        </div>
        <div class="col-2">
          <table class="tb" style="font-size: 13px">
            <tr>
              <td width="20px">14.</td>
              <td width="200px">NOMOR PELAYANAN</td>
              <td width="20px">:</td>
              <td>2022.0001.001</td>
            </tr>
            <tr>
              <td>15.</td>
              <td>TANGGAL PELAYANAN</td>
              <td>:</td>
              <td>25-03-2022</td>
            </tr>
            <tr>
              <td>16.</td>
              <td>TGL. SELESAI (Perkiraan)</td>
              <td>:</td>
              <td>25-03-2022</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>17.</td>
              <td>PETUGAS PENERIMA BERKAS</td>
            </tr>
          </table>
          <table class="tb" style="font-size: 13px; margin-top: 40px">
            <tr>
              <td>SUPRIYATIN PS</td>
            </tr>
            <tr>
              <td>NIP. 01283127893713</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <table class="tb" style="font-size: 13px">
          <tr>
            <td width="20px">18.</td>
            <td width="100px">URUSAN</td>
            <td width="20px">:</td>
            <td>MUTASI OBJEK/SUBJEK</td>
          </tr>
        </table>
        <p>
          -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p>
        <table class="tb" style="font-size: 13px">
          <tr>
            <td width="20px">19.</td>
            <td width="100px">CATATAN</td>
            <td width="20px">:</td>
            <td>MUT U 2022 AN.AHMAD KHUDLORI S</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
