<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Berita Acara Penagihan/Pemeriksaan</title>
    </head>

    <body style="padding-left:7%; padding-right:7%; padding-top:4%; line-height:1.5px; font-size:12px">
        
        <header>
            <div>
                <table width="100%" style="">
                    <tbody>
                        <td width="15%" style="padding-left:4px; padding-eight:4px; padding-bottom:10px">
                            <img src="http://localhost:8080/assets/images/logoMalangBw.png" alt="BSE" usemap="#workmap" width="110" height="110">
                        </td>
                        <td width="70%" style="padding-bottom:23px; solid black">
                            <p style="text-align:center; font-weight:bold; font-size:20px;">
                                <br>PEMERINTAH KOTA MALANG
                            </p>
                            <p style="text-align:center; font-weight:bold; font-size:23px;">
                                BADAN PENDAPATAN DAERAH
                            </p>
                            <p style="text-align:center; font-weight:bold">
                                Perkantoran Terpadu Pemerintah Kota Malang
                            </p>
                            <p style="text-align:center">
                                Jl. Mayjend Sungkono Gedung B Lantai 1 Telp (0341) 751532 Kel. Arjowinangun<br>
                            </p>
                            <p style="text-align:center">
                                <a href="http://www.bapenda.malangkota.go.id">http://www.bapenda.malangkota.go.id</a> | 
                                email : <a href="mailto:bapenda@malangkota.go.id" style="color:black; text-decoration:none">bapenda@malangkota.go.id</a>
                            </p>
                            <p style="text-align:center; font-weight:bold">
                                <i>Malang 65132</i>
                            </p>
                        </td>
                        <td width="15%" style="padding:4px; padding-bottom:10px"></td>
                    </tbody>
                </table>
            </div>
        </header>

        <div>
            <hr style="width:100%; height:3px; background:black">
        </div>

        <div style="text-align:center; font-weight:bold; padding-bottom:50px">
            <p style="font-size:25px; text-decoration:underline">BERITA ACARA PEMERIKSAAN</p>
            <p>Nomor : /Bid.P2 /35.73.504/2023</p>
        </div>

        <div style="text-indent:45px; padding-bottom:20px">
            <p>
                Pada hari ini ...............................
                tanggal ...................................................... 
                telah dilakukan pemeriksaan 
            </p>
        </div>
        
        <div style="padding-left:20px; padding-right:20px; padding-bottom:20px; line-height:2">
            <table width="100%">
                <tr width="100%">
                    <td width="20%">Nomor</td>
                    <td width="3%">:</td>
                    <td width="77%">
                        <div style="padding-top:10px; border-bottom: dotted medium black;width: 100%"></div>
                    </td>
                </tr>
                <tr width="100%">
                    <td width="20%">Alamat</td>
                    <td width="3%">:</td>
                    <td width="77%">
                        <div style="padding-top:10px; border-bottom: dotted medium black;width: 100%"></div>
                    </td>
                </tr>
                <tr width="100%">
                    <td width="20%">Instansi</td>
                    <td width="3%">:</td>
                    <td width="77%">
                        <div style="padding-top:10px; border-bottom: dotted medium black;width: 100%"></div>
                    </td>
                </tr>
                <tr width="100%">
                    <td width="20%">Nomor Tip</td>
                    <td width="3%">:</td>
                    <td width="77%">
                        <div style="padding-top:10px; border-bottom: dotted medium black;width: 100%"></div>
                    </td>
                </tr>
                <tr width="100%">
                    <td width="20%">NPWPD/NOP</td>
                    <td width="3%">:</td>
                    <td width="77%">
                        {{.NPWPD}}
                    </td>
                </tr>
           </table>
           <p>Dengan hasil pemeriksaan sebagai berikut:</p>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:100%; padding-bottom:25px"></div>
           <div style="border-bottom: dotted medium black;width:50%; padding-bottom:25px"></div>
        </div>

        <div style="text-indent:45px; padding-bottom:20px">
            <p>
                Demikian Berita Acara Pemeriksaan ini dibuat untuk dipergunakan sebagai bahan pertimbangan.
            </p>
        </div>

        <div style="padding-left:100px; padding-right:100px; padding-bottom:100px">
            <table width="100%">
                <td width="55%" style="vertical-align:baseline">
                    <p style="padding-bottom:80px">
                        Yang diperiksa/ Yang mewakili
                    </p>
                    <p style="padding-bottom:20px">
                        ...................................................................
                    </p>
                    <p>
                        Mengetahui,
                    </p>
                    <p style="padding-bottom:80px">
                        Kepala Bidang Pengendalian Pajak Daerah
                    </p>
                    <p style="font-weight:bold; text-decoration:underline">DWI HERMAWAN PURNOMO, S.STP</p>
                    <p style="font-weight:bold;">19800116 199810 1 001</p>
                </td>
                <td width="45%" style="line-height:2; vertical-align:baseline">
                    <table width="100%">
                        <tr width="1%">
                            <td style="padding-bottom:15px" width="5%"></td>
                            <td style="padding-bottom:15px" colspan="2" width="69%">Malang&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;2023<br>Petugas:</td>
                        </tr>
                        {{ range .Petugas }}
                            <tr width="69%" style="margin-right:10px">
                                <td width="5%">{{ .Id }}</td>
                                <td width="69%">{{ .Name }}</div></td>
                                <td width="30%"><div style="border-bottom: dotted medium black;width:100%;"></div></td>
                            </tr>
                        {{ end }}
                    </table>
                </td>
           </table>
        </div>
    </body>
</html>